@using System.Data;
@model System.Data.DataTable
@{
    ViewBag.Title = "CategoryList";
}

<link rel="stylesheet" type="text/css" href="~/Content/CategoryListStyle.css">
<link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/CategoryList.js"></script>


<div class="container" id="div_main">
    <div class="row">
        <div class="col-md-12">
            <div id="div_header">
                <text id="text_header">
                    <h2>
                        Product Category
                    </h2>
                </text>
                <input type="button" class="btn btn-primary" value="add new" id="text_link" onclick="window.location='@Url.Action("Detail", "Category")'" />
            </div>
            <div id="search_box">
                @using (Html.BeginForm("Listing", "Category"))
                {
                    <div class="col-md-3"><input name="txtSearch" type="text" class="search-cont" autocomplete="off" id="txtSearch" value="@ViewBag.searchQuery" /></div>
                    <div class="col-md-9">
                        <input type="submit" value="Search" id="btn_submit" class="btn" />
                        <input type="submit" value="Show all" id="full_list" class="btn" onclick="window.location='@Url.Action("Listing", "Category")'" />
                    </div>
                }
            </div>
            <br>
            <br>
            <div class="table-responsive" id="table_style">
                <br>
                <table class="table table-bordered">
                    <tr id="table_head">
                        <th>Category ID</th>

                        <th>Name</th>

                        <th>Description</th>

                        <th>IsActive</th>
                        <th></th>
                    </tr>
                    @foreach (DataRow item in Model.Rows)
                    {
                        <tr>
                            <th>@item["CategoryId"].ToString()</th>

                            <td>@item["CategoryName"].ToString()</td>

                            <td>@item["CategoryDescription"].ToString()</td>

                            <td>@item["IsActive"].ToString()</td>

                            <td>
                                <text class="link_edit"><a href="@Url.Action("Detail", "Category", new { id = item["CategoryId"], @class="btn btn-primary" })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></text> 
                                <text class="link_delete"><a href="@Url.Action("Delete", "Category", new { id = item["CategoryId"],@class="btn btn-primary"})"><i class="fa fa-trash" aria-hidden="true"></i></a></text>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


